DATABASE_URL =  # External database URL. Though can default to local sqlite db with an async driver
SECRET_KEY = # The secret key for jwt encoding and decoding
ACCESS_KEY_EXPIRE_MINUTES = # The time for the key to live
ALGORITHM = # Algorithm used to encode and decode jwt
